@model AppUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Parking Login</title>

    <link rel="stylesheet" href="~/css/Login.css">

</head>
<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Parking</h1>
            </div>

            <div class="login-form">
                <form asp-action="Login" method="post">
                    <div class="control-group">
                        <input asp-for="UserName" required class="login-field" value="" placeholder="Kullanıcı Adı" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input asp-for="Password" required class="login-field" value="" placeholder="Şifre" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-large btn-block">Giriş Yap</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>