@using System.Security.Claims
<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-soft-success text-dark text-center d-flex">
                <div class="col-11" text-center fs-3 text-dark>Araç Listesi</div>
                <div class="col-1 fs-3"><a href="#" id="btnAdd" class="btn btn-success"><i class="uil uil-plus me-2"></i>Yeni Kayıt</a></div>
            </div>
            <div class="card-body">
                <table id="tblVehicles" class="table table-bordered table-striped table-hover">
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade"
     id="modalAdd"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtName" placeholder="Araç markası giriniz">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtLicensePlate" placeholder="Araç plakası giriniz">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtOdometer" placeholder="Lütfen araç kilometresini giriniz">
                </div>
                <div class="mb-3 row">
                    <label class="form-label">Araç Tipi</label>
                    <select class="form-select" id="ddlVehicleType">

                    </select>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="mb-3 row">
                        <label class="form-label">Kullanıcı Adı</label>
                        <select class="form-select" id="ddlUser">

                        </select>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button"
                        class="btn btn-primary"
                        id="btnSave">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var DataTable = "";
        $(document).ready(() => {
            //tblVehicles tablosunun datatable özelliği aktif ediliyor.
            DataTable = $("#tblVehicles").DataTable({
                //buradaki ajax url veren DataTable parametresi
                ajax: '/Vehicle/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Araç Adı' },
                    { data: 'licensePlate', title: 'Plaka' },
                    { data: 'odometer', title: 'Km' },
                    { data: 'vehicleType.name', title: 'Araç Tipi' },
                    { data: 'appUser.userName', title: 'Araç Sahibi' },
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {
                            return `<a onclick="updateVehicle(${data},this)" title="Düzenle" class="btn uil-pen fs-6 btn-primary"></a> <a title="Sil" onclick="deleteVehicle(${data},this)" class="btn uil-trash-alt fs-6 btn-danger"></a> `
                        }
                    }
                ]
            });

            $("#btnAdd").click(() => {
                $("#modalAdd").modal("show");

                //modaldaki form-control classına sahip elementlerin değerlerini sıfırlar
                $("#modalAdd .form-control").val('');
                $("#modalAdd .form-select").val('');
                $("#modalTitle").text("Yeni Araç Ekle");

                fillVehicleTypes();

                if ("@User.IsInRole("Admin")" == "True") {
                    fillUsers();
                }

                $("#btnSave").off().click(() => {

                    if ("@User.IsInRole("Admin")" == "True") {
                        appUserId = $("#ddlUser").val();

                    }
                    else {
                        appUserId = parseInt(@User.FindFirst(ClaimTypes.NameIdentifier).Value);
                    }


                    let vehicle = {
                        licensePlate: $("#txtLicensePlate").val(),
                        name: $("#txtName").val(),
                        odometer: $("#txtOdometer").val(),
                        vehicleTypeId: $("#ddlVehicleType").val(),
                        appUserId: appUserId
                    }
                    $.ajax({
                        url: '/Vehicle/Add',
                        type: 'POST',
                        data: {
                            vehicle: vehicle
                        },
                        success: (res) => {
                            res.vehicleType = {
                                name: $("#ddlVehicleType option:selected").text()
                            }
                            res.appUser = {
                                userName: $("#ddlUser option:selected").text()
                            }
                            DataTable.row.add(res).draw();
                            $("#modal").modal("hide");
                        }
                    });
                });
            });
        });

        function deleteVehicle(vehicleId, button) {

            if (confirm("Silmek istediğinize emin misiniz ? ")) {

                $.ajax({
                    url: '/Vehicle/Delete',
                    type: 'POST',
                    data: {
                        id: vehicleId
                    },
                    success: () => {
                        let satir = $(button).parent().parent();
                        DataTable.row(satir).remove().draw(false);
                    }
                });
            }
        }

        function updateVehicle(vehicleId, button) {
            fillVehicleTypes();
            fillUsers();
            //GetById ile veri alınır
            $.ajax({
                url: '/Vehicle/GetById',
                type: 'POST',
                data: {
                    id: vehicleId
                },
                //veri alma başarılı olduğunda res e set edilerek işlem yapılır
                success: (res) => {
                    $("#txtName").val(res.name);
                    $("#modalAdd").modal("show");
                    $("#modalTitle").text("Araç Düzenle");

                    $("#btnSave").text("Düzenle").off().click(() => {
                        res.name = $("#txtName").val();
                        res.odometer = $("#txtOdometer").val();
                        res.licensePlate = $("#txtLicensePlate").val();
                        res.vehicleTypeId = $("#dllVehicleType").val();
                        // res.appUserId = $("#dllUser").val();

                        $.ajax({
                            url: '/Vehicle/Update',
                            type: 'POST',
                            data: {
                                vehicle: res
                            },
                            success: () => {
                                let satir = $(button).parent().parent();
                                DataTable.row(satir).data(res).draw();
                                $("#modalAdd").modal("hide");
                            }
                        });
                    });
                }
            });
        }

        //Vehicle type ların dolu gelmesini sağlar.
        function fillVehicleTypes() {
            $.ajax({
                url: '/VehicleType/GetAll',
                type: 'GET',
                success: (res) => {
                    $("#ddlVehicleType").empty(); //her seferinde üzerine yüklemesin
                    $("#ddlVehicleType").append(new Option("Lütfen seçim yapınız", 0));
                    for (var item of res.data) {
                        $("#ddlVehicleType").append(new Option(item.name, item.id));
                    }
                }
            });
        }

        //Kullanıcılar dropdown dolu gelmesi için
        function fillUsers() {
            $.ajax({
                url: '/User/GetAll',
                type: 'GET',
                success: (res) => {
                    $("#ddlUser").empty();
                    $("#ddlUser").append(new Option("Lütfen seçim yapınız", 0));
                    for (var item of res.data) {
                        $("#ddlUser").append(new Option(item.fullName, item.id));
                    }
                }
            });
        }
    </script>
}