<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-soft-success text-dark text-center d-flex">
                <div class="col-11" text-center fs-3 text-dark>Araç Tipleri</div>
                <div class="col-1 fs-3"><a href="#" id="btnAdd" class="btn btn-success"><i class="uil uil-plus me-2"></i>Yeni Kayıt</a></div>
            </div>
            <div class="card-body">
                <table id="tblVehicleTypes" class="table table-bordered table-striped table-hover">
                </table>
            </div>
        </div>

    </div>
</div>

<div class="modal fade"
     id="modalAdd"
     tabindex="-1"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     role="dialog"
     aria-labelledby="modalTitleId"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                </h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtName" placeholder="Araç tipini giriniz">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button"
                        class="btn btn-primary"
                        id="btnSave">
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        //Sayfa genelinden ulaşabilmek için set edilir
        var DataTable = "";
        //Sayfa yüklenirken çalışacak komut
        $(document).ready(() => {
            //Listeleme
            DataTable = $("#tblVehicleTypes").DataTable({
                ajax: '/VehicleType/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },//1.kolon
                    { data: 'name', title: 'Araç Tipleri' },//2.kolon
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {
                            return `<a title="Düzenle" onclick="updateVehicleType(${data}, this)" class="btn uil-pen fs-6 btn-primary"></a> <a title="Sil" onclick="deleteVehicleType(${data}, this)" class="btn uil-trash-alt fs-6 btn-danger"></a>`;
                        }//Düzenle ve Sil butonu
                    }//3.kolon
                ]
            });
            //butona click olunduğunda
            $("#btnAdd").off().click(() => {
                $("#modalAdd").modal("show"); //modalı aç
                //modaldaki form-control classına sahip elementlerin değerlerini sıfırlar
                $("#modalAdd .form-control").val('');
                $("#modalTitle").text("Araç Tipi Ekle"); //modalın başlığını değiştir

                //Kaydet butonunun davranışı belirleniyor
                $("#btnSave").text("Kaydet").off().click(() => {
                    $.ajax({
                        url: '/VehicleType/Add',
                        type: 'POST',
                        data : {
                            vehicleType: {
                                name: $("#txtName").val()
                            }
                        },
                        success: (res) => {
                            DataTable.row.add(res).draw();
                            $("#modalAdd").modal("hide");
                        }
                    }); //ajax ile bir çağrıda bulunacak ve ayarları bu şekilde olacak
                });
            });
        });
        //bir datatable kullanıyoruz tıkladığımızda o satırın komple referansına ulaşabilmek için butonun referansı kullanılır. Button bu yüzden eklenir.
        function deleteVehicleType(vehicleTypeId, button){
            if (confirm("Silmek istediğinize emin misiniz ?")) {
                $.ajax({
                    url: '/VehicleType/Delete',
                    type: 'POST',
                    data: {
                        id: vehicleTypeId
                    },
                    success: () => {
                        let satir = $(button).closest('tr');
                        DataTable.row(satir).remove().draw();
                    }
                });
            }
        }

        function updateVehicleType(vehicleTypeId, button) {
            //update edilecek nesne veritabanından çekilir.
            $.ajax({
                url: 'VehicleType/GetById',
                type: 'POST',
                data: {
                    id: vehicleTypeId
                },

            });
        }
    </script>
}
